@use '../base/base-lib.scss' as *;
@use '../base/placeholds.scss';

.header {
  padding: 40px 0;
  width: 100%;

  background-color: transparent;

  position: fixed;
  top: 0;
  left: 50%;
  z-index: 10;

  transform: translateX(-50%);
  transition: padding 1s, background-color 0.3s, box-shadow 0.3s;

  &.on-scroll {
    padding: 10px 0;

    background-color: $white;
    box-shadow: 0px 2px 4px rgba($primary, 15%);
  }
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_nav {
  margin-left: 60px;

  @include breakpoint($extra-lg-bp) {
    margin-left: 80px;
  }
}

.header_left {
  display: flex;
  align-items: center;
}

.header_nav-list {
  display: none;
  align-items: center;
  list-style: none;

  @include breakpoint($lg-bp) {
    display: flex;
  }
}

.header_nav-link {
  font-size: 17px;
  position: relative;

  a {
    @extend %link;
  }

  & + & {
    margin-left: 50px;
  }

  @include breakpoint($lg-bp) {
    display: flex;

    &:after {
      content: '';

      width: 99%;
      height: 2px;

      border-radius: 2px;
      background-color: lighten($primary, 15%);

      position: absolute;
      left: 0;
      bottom: -3px;

      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.3s ease-in;
    }

    &:hover {
      &:after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }

  @include breakpoint($extra-lg-bp) {
    font-size: 20px;

    & + & {
      margin-left: 60px;
    }
  }
}

.header_right {
  display: none;

  @include breakpoint($lg-bp) {
    display: block;
  }
}

.header_burger {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  overflow: hidden;

  position: relative;

  transition: background-color 0.3s;

  .show-nav & {
    background-color: rgba($accent, 35%);

    .header_burger-container {
      span,
      &:before,
      &:after {
        background-color: $white;
      }

      span {
        transform: translateX(100%);
        opacity: 0;
      }

      &:before,
      &:after {
        top: 50%;
        left: 50%;
      }

      &:before {
        transform: translateX(-50%) rotate(45deg);
      }

      &:after {
        transform: translateX(-50%) rotate(-45deg);
      }
    }
  }

  @include breakpoint($m-bp) {
    width: 70px;
    height: 70px;
  }

  @include breakpoint($lg-bp) {
    display: none;
  }
}

.header_burger-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 17px;

  position: relative;

  span,
  &:before,
  &:after {
    width: 100%;
    height: 3px;

    background-color: $primary;
    border-radius: 3px;

    transition: transform 0.3s, opacity 0.3s, color 0.3s;
  }

  span {
    display: inline-block;
  }

  &:before,
  &:after {
    content: '';

    position: absolute;
    left: 0;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  @include breakpoint($m-bp) {
    width: 42px;
    height: 23px;
  }
}
