<header class="header" data-scrolled="0">
  <div class="container">
    <div class="header_inner">
      <div class="header_left">
        <a href="index.html" class="logo">DesignCourse</a>

        <nav class="header_nav">
          <ul class="header_nav-list">
            <li class="header_nav-link">
              <a href="index.html">Home</a>
            </li>
            <li class="header_nav-link">
              <a href="work.html">Our Work</a>
            </li>
            <li class="header_nav-link">
              <a href="#">Services</a>
            </li>
          </ul>
        </nav>
        <!-- /.header_nav -->
      </div>

      <div class="header_right">
        <a href="#" class="btn btn-light btn-sm">Get a Qoute</a>
      </div>

      <div class="header_burger">
        <svg class="progress-ring" width="60" height="60">
          <circle
            class="progress-ring_circle"
            stroke-width="3"
            fill="transparent"
            r="24"
            cx="30"
            cy="30"
          />
        </svg>
        <div class="header_burger-container">
          <span></span>
        </div>
      </div>
      <!-- /.header_burger -->
    </div>
    <!-- /.header_inner -->
  </div>
  <!-- /.header_container -->
</header>
